<div class="jumbotron">

  <h1>Nice choice.</h1>
  <p>Complete any one of <%=@restaurant.name%>'s surveys below.</p>

</div>

<%if @restaurant.user.id == current_user.id %>
Look's like you're the boss here. <a href = "/restaurants/<%=@restaurant.id%>">Edit this page</a>
<%end%>
<br>

<div>

</div>

<hr>

<% @restaurant.questions.each do |survey|%>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= survey.body %>
        </h3>
      </div>

      <div class="panel-body">


        <form action = "/create_response" method = "post">


          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for user_id -->
          <input type="hidden" name="user_id" value="<%= current_user.id %>">

          <input type="hidden" name="question_id" value="<%= survey.id %>">

          <div class="radio">
            <label>
              <input type="radio" name="selection" id="selection" value="<%= survey.option_1 %>">
              <%= survey.option_1 %>
            </label>
          </div>


          <div class="radio">
            <label>
              <input type="radio" name="selection" id="selection" value="<%= survey.option_2 %>" >
              <%= survey.option_2 %>
            </label>
          </div>


          <button class="btn btn-success">
            Submit My Response
          </button>



        </form>
      </div>
    </div>
  </div>
</div>

<%end%>
